
.canvas-container
{
  z-index: 1000;
}



#paintCntnr
{
  position: absolute;
  left: 0px;
  height: 80%;
  width: 60px; /*background-color:rgba(80, 80, 80, .8);*/
  top: 10px;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  line-height: normal;
  z-index: 1010;
}
.paintItm-wrapper
{
  width: 100%;
  height: 100%;
  border: 1px solid green;
}
/*.paintItm { width:32px; height:32px; background-position:left; position:relative; top:0px; background-image:url('img/paintBtn.png'); }*/


.paintItm
{
  background-color: #6693c6;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  color: #fff;
  font: bold 20px "helvetica neue" , helvetica, arial, sans-serif;
  line-height: 1;
  margin-bottom: 10px; /*padding: 12px 0 14px 0;*/
  text-align: center;
  text-shadow: 0px -1px 1px #1e2d4d;
  width: 50px;
  height: 50px;
  -webkit-background-clip: padding-box;
}
.paintItm:hover
{
  -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  -moz-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  cursor: pointer;
}
.paintItm:active
{
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
  -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
}
.paintItm.pencil
{
  background-image: url('img/pencil32.png');
}
.paintItm.txt
{
  background-image: url('img/txt32.png');
}
.paintItm.rect
{
  background-image: url('img/rect32.png');
}
.paintItm.cicrle
{
  background-image: url('img/circle32.png');
}
.paintItm.save
{
  background-image: url('img/save32.png');
}
.paintItm.slctd
{
  -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  -moz-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
}

.color-picker
{
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.75);
  -o-box-shadow: 0px 1px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 5px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid red;
}

.UFICommentBody.has-draw:after
{
  cursor: hand;
  width: 28px;
  height: 26px;
  margin-top: -6px;
  position: relative;
  content: "";
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: .8em;
  float: right; /* background-image:url('img/palletThumb.png');*/
  background-image: url('img/palletThumb.png');
  opacity: 0.5;
}

.uiUfiComment.has-draw:after:hover
{
  opacity: 1;
}


#pathgallery
{
  position:absolute;
  right:0px;
  width:300px; top:0px; bottom:0px;
  background-color:#fff;
  z-index:1100;
}

#pathgallerySearch
{
  width:70%;
  float:left;
  border-radius:5px; 
  border-color:1px solid Black;
  
  }

#pathgallerySearchBtn
{
  float:left;
  }

#pathgallery .resultsArea
{
  
  }
#pathgallery .resultsArea img 
{
 width:240px; 
  }

.no-seleciton
{
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  }
  
  #dcTxtElCntnr
  {
    position:absolute;
    left:50px;
    right:50px;
    top:0px;
    height:0px;
    border-radius:0px 0px 10px 10px;
    background-color:#3c5489;
    height:0px;
    display:none;
    
    }
    
    #dcTxtEl
    {
      border-radius:10px;
      font-size:22px;
      display:block;
      margin:10px auto;
      padding:5px;
    }