﻿
<!doctype html>
<html  ng-app>
  
  <head>
    <title>Bussines Inteligence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="themes/falty/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <script src="//codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/controller.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">

      //var _gaq = _gaq || [];
      //_gaq.push(['_setAccount', 'UA-40811731-1']);
      //_gaq.push(['_trackPageview']);

      //(function () {
      //  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      //  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      //  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      //})();


      $(document).ready(function () {

        for (var i = 0; i < 30; i++) {
          var url = "http://api.drawcomment.com/upload/" + i + ".jpg";
          var img = new Image();
          $(img).attr('src', url).height(100).load(function () {;
            $("#published-img-cntnr").append($(this));
          }).click(function () {
            window.location = $(this).attr('src');
          });;
        }                                                                 
        

      });
</script>
  </head>
  
  <body >
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">


          <a class="brand" href="#">Draw Comment</a>
          <div class="navbar-content">
            <ul class="nav  pull-right">
              <li>
                <a href="/gallery">Gallery</a> 
              </li>
              <li class="active">
                <a href="/bi">BI</a> 
              </li>
              <li>
                <a href="/">Home</a> 
              </li>
            </ul>
          </div>
        </div>
        <img src="betaribon.png" style="position:absolute; left:0px; top:0px;"> 
      </div>
    </div>
    <div class="container">
      <div class="page-header">
       <br /><br />
       <h1>BI</h1>
        <br /><br />
          <h2>Published Images</h2>
         <div id="published-img-cntnr"></div>
        
        
        <div id="users" ng-controller="UsersCtrl" class="well" style="max-height:600px; overflow-y:scroll;">
            <h2>Users ({{users.length}}) | Actions ({{totalActions}})</h2>
            Search : <input  ng-model="queryUsers"/>
          <br /><br />
            <div ng-repeat="user in users | filter:queryUsers">
              
            <div style="padding:5px; border:2px solid #ccc; margin:2px;" ng-click="navToProfile(user.id)" >
              <img ng-src="{{getuserImg(user.id)}}" />
            <span>{{user.name}}</span>
            <span> | actions :{{user.actions}} </span>
            <span> | logins :{{user.logins}} </span>
            </div>
              
            </div>
        </div>
        <div>
          <h2>Reports</h2>
         
         <div id="reports" ng-controller="ReportsCtrl" class="well">
            <p>
          Group by:
          <a ng-click="groupByToday()">Today</a> -
          <a ng-click="groupBy2Days()">2Days</a>
          <a ng-click="groupByWeek()">Week</a>
          </p>
           Search : <input  ng-model="queryReports"/>  
           <div ng-repeat="report in reports | filter:queryReports">
              <span><b>{{report.name}}</b> ==> </span>
              <span>{{getCount(report)}}</span>
             </div>
      </div>
          </div>
      
      </div>
    
		</div>
  </body>
</html>